:local(.wrapper) {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

:local(.wrapper iframe) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}
