:local(.button) {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  border-width: 0;
  padding: 0;
  white-space: normal;
  text-align: left;
  color: rgba(0, 0, 0, .44);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  line-height: 35px;
  font-size: 14px;
}

:local(.generic) {
  composes: button;
  display: inline-block;
}
