.EditorHeader {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, .97);
  box-shadow: 0 0 1px rgba(0, 0, 0, .15);
  z-index: 1;
}

.EditorHeader-container {
  display: flex;
  justify-content: space-between;
}

:local(.headerText) {
  line-height: 44px;
  margin: 10px 0;
  font-size: 14px;
}

:local(.headerTextAction) {
  composes: headerText;
  padding: 0 16px 0 8px;
}

:local(.saveStatus) {
  composes: headerText;
}

:local(.saveStatusDone) {
  composes: saveStatus;
  composes: textPrimary from '../../index.css';
}
